@model Nutrition.Web.ViewModels.Recipes.CreateRecipeViewModel
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Recipe", FormMethod.Post, new { @class = "form-horizontal",enctype = "multipart/form-data"  }))
{
    @Html.AntiForgeryToken()

    <legend>Създаване на рецепта</legend>
    <fieldset>
        @Html.EditorFor(model => model.Title, new { LabelName = "Заглавие*" })
        @Html.EditorFor(model => model.Ingredients, new { LabelName = "Продукти*" })
        @Html.EditorFor(model => model.Description, new { LabelName = "Приготвяне*" })

        <div class="form-group">
            @Html.Label("Снимка", new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                <input name="UploadedImage" type="file" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Тагове*", new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.ListBoxFor(model => model.TagIds, Model.Tags)
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Откажи</button>
                <button type="submit" class="btn btn-primary">Създай рецепта</button>
            </div>
        </div>
    </fieldset>
}